body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* gridContainer */
.gridContainer {
    height: 100%;
    width: 100%;
    background-color: lightblue;

    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

/* sidebar */
.sidebar {
    background-color: red;
    grid-area: sidebar;

    display: grid;
    gap: 5px; /*for visualization */
    grid-template: 1fr 3fr 3fr / 1fr;
}

    .sidebar .sidebarContent {
        background-color: rgb(95, 63, 68);
    }

/* header */
.header {
    background-color: blue;
    grid-area: header;

    display: grid;
    gap: 5px; /* for visualization */
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "search userAccount"
        "name headerLinks"
}

    .header > div {
        background-color: lightsalmon;
    }

    .header .search {
        grid-area: search;
    }

    .header .userAccount {
        grid-area: userAccount;
    }

    .header .name {
        grid-area: name;
    }

    .header .headerLinks {
        grid-area: headerLinks;
    }

/* main content */
.main {
    background-color: pink;
    grid-area: main;

    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
}
    /* main content > children */
    .main > div {
        background-color: lightgreen;
    }

    .main .projects {
        grid-area: projects;
    }

    .main .announcements {
        grid-area: announcements;
    }

    .main .trending {
        grid-area: trending;
    }