:root {
    --mainBG: lightblue;
    --sidebarBG: rgb(75, 75, 255);
    --eachProjectBG: rgb(193, 255, 255);
    --eachProjectTrim: rgb(0, 189, 196);
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: red;
}

/* gridContainer */
.gridContainer {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: minmax(150px, 1fr) 5fr;
    grid-template-columns: 2fr 6fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

@media only screen and (max-width: 495px){
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        background-color: red;
    }
    
    /* gridContainer */
    .gridContainer {
        height: auto;
        width: 100%;
    
        display: grid;
        grid-template-rows: minmax(150px, 1fr) 7fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
            "sidebar header"
            "sidebar main";
    }
}

/* SIDEBAR ---------------------------------------------------------------------------------------------------SIDEBAR*/
.sidebar {
    background-color: var(--sidebarBG);
    grid-area: sidebar;

    display: grid;
    gap: 50px;
    grid-template: 1fr 3fr 3fr 3fr / 1fr;
}

    .sidebar > div {
        background-color: rgb(95, 63, 68);
    }

    .sidebar .sidebarLogoContainer {
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
        justify-items: start;
        align-items: center;
    }

    .sidebar .sidebarLinks,
    .sidebar .sidebarAdminLinks {
        display: grid;
        grid-template-columns: 80%;
        grid-auto-rows: 40px;
        justify-content: center;
        justify-items: stretch;
        align-items: center;
    }

    img.sidebarLogo {
        height: 40px;
    }

        .eachLink {
            height: 100%;
            padding: 5px;
            box-sizing: border-box;
            border-radius: 2rem;

            display: grid;
            gap: 5px;
            grid-template-columns: 20px 1fr;
            align-items: center;
        }

        .eachLink img {
            height: 20px;
        }

        .eachLink:hover {
            background-color: white;
        }

/* HEADER---------------------------------------------------------------------------------------------------HEADER */
.header {
    background-color: var(--headerBG);
    grid-area: header;

    display: grid;
    gap: 5px; /* for visualization */
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "search userAccount"
        "name headerLinks"
}

    .header > div {
        background-color: lightsalmon;
    }

    /* HEADER search----------------------------------------------------------------------------------HEADER search */
    .header .search {
        grid-area: search;
        display: grid;
        gap: 10px;
        grid-template-columns: 20px 80%;
        grid-template-rows: 70%;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

        .searchLogo {
            height: 20px;
        }
        
        input[type="search"] {
            height: 75%;
            border-radius: 2rem;
            padding-left: 10px;
            box-sizing: border-box;
        }

    .header .userAccount {
        grid-area: userAccount;
    }

        /* HEADER name--------------------------------------------------------------------------------------HEADER name */
        .header .name {
            grid-area: name;

            display: grid;
            gap: 10px;
            grid-template-columns: 50px 90%;
            grid-template-rows: 80%;
            align-content: center;
            justify-content: start;
            align-items: center;

            padding-left: 5%;
        }

        .header .userMessageContainer {
            width: 100%;
            display: grid;
            grid-template-columns: 100%;
        }

            .userMessageContainer .userMessage {
                font-size: 1.25rem;
            }

            .userMessageContainer .userName {
                font-size: 1.5rem;
                font-weight: 900;
            }

        .header img.nameLogo {
            height: 50px;
        }

    .header .headerLinks {
        grid-area: headerLinks;
    }

/* MAIN ------------------------------------------------------------------------------------------------------------MAIN*/
.main {
    background-color: var(--mainBG);
    grid-area: main;
    padding: 20px;

    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
}
    /* MAIN projects ----------------------------------------------------------------------------------------MAIN projects */
    .projects {
        grid-area: projects;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25px 1fr;
    }

    .projects .projectsTitle {
        background-color: var(--mainBG) /* temp until layout complete */
    }

    .projects .projectsContent {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))

    }

    .projects .eachProject {
        background-color: var(--eachProjectBG);
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 4px 4px 4px black;

        display: grid;
        grid-template-columns: 1fr 20fr;
    }

    .eachProject .pLeft {
        background-color: var(--eachProjectTrim);
      
    }

    /* MAIN announcements -------------------------------------------------------------------------------------MAIN announcements */
    .main .announcements {
        grid-area: announcements;
        background-color: yellow;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25px 1fr;
    }

    .announcements .announcementsTitle {
        background-color: var(--mainBG) /* temp until layout complete */

    }

    .announcementsContent {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }

    /* MAIN trending --------------------------------------------------------------------------------------------MAIN trending */
    .main .trending {
        grid-area: trending;
        background-color: lightgreen;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25px 1fr;
    }

    .trending .trendingTitle {
        background-color: var(--mainBG) /* temp until layout complete */;
    }

    .trending .trendingContent {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }